body {
    font-family: 'Kodchasan', sans-serif;
}

nav {
    box-shadow: 0 6px 24px #000000;
    background: #f2f1cb;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.navbar ul {
    margin: 0;
    width: 100%;
    padding: 0 40px;
}

.navbar a, .navbar li {
    color: #000000;
}

.navbar a {
    position: relative;
    top: 2px;
}

.navbar a:hover {
    text-decoration: none;
}

.navbar li {
    display: inline-block;
    width: 33.333%;
    font-size: 30px;
    padding-bottom: 20px;
}

.navbar .brand {
    font-size: 50px;
    font-weight: bolder;
    margin: 0;
}

.feedback {
    color: #ffffff;
}

.header {
    margin-top: 100px;
    min-height: 400px;
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/bananas.png");
}

.jumbotron {
    height: 200px;
    width: 750px;
    position: relative;
    top: 100px;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
    box-shadow: 1px 1px 5px #555555 inset;
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/debut_light.png");
}

.jumbotron p {
    padding-top: 20px;
}
.jumbotron h1 {
    font-size: 50px;
}

.headerFoot {
    height: 50px;
    width: 100%;
    background: #f2f1cb;
    box-shadow: 0 -6px 24px #00000080;
}

.container {
    margin-bottom: 15px;
}

.tileSet {
    padding: 0;
    margin: 0 auto;
}

.tileSet li {
    display: inline-block;
    box-shadow: 0 8px 6px -6px #000000;
    margin: 15px 25px 0 0;
}

.gameTile {
    display: inline-block;
}

.gameTile img:hover {
    cursor: pointer;
    border: none; 
    padding: 0;
    transition: 0.15s, 0.15s;
    transition-property: border, padding;
}

.gameTile img:active {
    padding: 0.25rem;
    border: 1px solid #dee2e6;
}

.tileSet li:active {
    box-shadow: none;
    transition: box-shadow 0.15s;
}

.gameTile img {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.footer {
    background: #f2f1cb;
    height: 35px;
    width: 100%;
    opacity: 0.65;
}

.footerFoot {
    background: #f2f1cb;
    height: 50px;
    width: 100%;
}

.footerFoot img {
    width: 30px;
}

.footBrand {
    font-weight: bold;
    font-size: 18px;
    padding-top: 15px;
    padding-left: 15px;
}

@media screen and (max-width: 768px) {
    p.lead {
        font-size: inherit;
    }

    .navbar li {
        display: block;
        text-align: center;
        width: 100%;
    }

    .navbar li:nth-child(2) {
        font-size: 1.25rem;
    }
    
    .navbar li:last-child{
        font-size: 1.25rem;
    }

    .navbar li:nth-child(2) p:first-child {
        font-size: 1.25rem;
    }

    .navbar li:nth-child(2) p:last-child {
        font-size: 1rem;
    }
    
    .header h1 {
        display: none;
    }

    .header {
        min-height: 285px;
        margin-top: 185px;
    }

    .jumbotron {
        padding: 0;
        height: inherit;
        width: 85%;
    }

    .tileSet {
        display: flex;
        flex-wrap: wrap;
    }

    .tileSet li {
        margin: 10px 0 0 0;
        width: 33%;
    }

    .gameTile img {
        height: 175px;
    }
}